/* Estilização Geral */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    background-color: #28a745;
    color: white;
}

/* Formulário */
form {
    width: 30%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

input,
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input {
    width: 95%;
}

button {
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

button:hover {
    background: #218838;
}

/* Tabela */
table {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th,
td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background: #28a745;
    color: white;
}

tr:nth-child(even) {
    background: #f9f9f9;
}

td a {
    background-color: #218838;
}

td a:hover {
    background-color: #28a745;
}

/* Botões e Links */
a,
.red-a,
.danger-a {
    display: inline-block;
    padding: 10px 15px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.3s;
}

a:hover {
    background: #0056b3;
}

.danger-a {
    background-color: gold;
}

.danger-a:hover {
    background-color: darkgoldenrod;
}

.red-a {
    background-color: red;
}

.red-a:hover {
    background-color: darkred;
}

@media (max-width: 767.98px) {
    form {
        width: 80%;
    }
}
@media (max-width: 991.98px) {
    form {
        width: 60%;
    }
}
